{% extends "bases.html" %}
{% block menu %}
    <a href="/torrup/">{{ username }}</a>
    <a href="/torrup/auth/logout/">Logout</a>
{% endblock %}
{% block content %}
    <div id="content">
    <table width=100%><tr>
        <td id="tracker_list" width=20%> 
            <ul>
                {% block tracker_list %}
                
                    {% if trackers %}
                    
                        {% for tracker in trackers %}
                            <li><a href="./?tracker={{ tracker.id }}">{{ tracker.name }}</a></li> 
                        {% endfor %}
                        
                    {% else %}
                        <li>No Trackers</li>
                    {% endif %}
                    
                {% endblock %}
            </ul> 
        </td>
        <td id="topic_list">
            <ul>
                {% block topic_list %}
                
                    {% if topics %}
                    
                        {% for topic in topics %}
                            <li><a href="./?topic={{ topic.id }}">{{ topic.name }}</a></li> 
                        {% endfor %}
                        
                    {% else %}
                        <li>No topics.</li>
                    {% endif %}
                    
                {% endblock %}
            </ul> 
        </td>

    </tr></table>
       
    </div>
{% endblock %}

